/* xyz-trips/app/styles/classes.css */

.red {
  color: var(--redColor);
}

.blue {
  color: var(--blueColor);
}

.app-nav {
  padding: 1em 1em .75em 1em;
  color: var(--mainColor);
  border-right: 1px solid var(--lightGrayColor);
}

.app-nav a {
  text-decoration: none;
  cursor: pointer;
  padding-right: 1em;
}

.header {
  border-bottom: 1px solid var(--lightGrayColor);
}

.nav {
  margin: 1em 0 0 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

.nav .nav-item {
  list-style: none;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.nav .nav-item a {
  margin: 0 1em;
}

.nav .nav-item.active a {
  color: var(--mainColor);
  text-decoration: none;
  cursor: pointer;
}
