/* begin xyz-styles/app/styles/elements.css */

:root {
  --mainColor: rgb(51, 51, 51);
  --redColor: rgb(201, 48, 44);
  --blueColor: rgb(51, 122, 183);
  --greenColor: rgb(92, 184, 92);
  --grayColor: rgb(119,119,119);
  --lightGrayColor: rgb(209, 209, 209);
  --whiteColor: rgb(255, 255, 255);
}
